html {
    font-size: 10px;
    background: url('./background.jpg') bottom center;
    background-size: cover;
  }
  
  body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  .keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
  .key {
    border: .4rem solid #b58194;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;

    color: #5a5a5a;
    background: rgba(253, 216, 216, 0.08);
    text-shadow: 0 0 .5rem #a98bab;
  }
  
  .playing {
    transform: scale(1.1);
    border-color: #c08dc8;
    box-shadow: 0 0 1rem #c08dc8;
  }
  
  kbd {
    display: block;
    font-size: 4rem;
  }
  
  .sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #c08dc8;
  }